.one {
    background-color: rgba(255, 0, 0, 0.5);
  }
  .two {
      opacity: 0.2;
    background-color: rgb(255, 255, 0);
  }
  .three {
   background-color: rgb(0, 0, 255);
  }
  .three:hover {
    background-color: aqua;
    border-radius: 50%;
    position: relative;
  }
  .container {
    display: flex;
    background-color: white;
    width: 800px;
    height: 300px;
    padding: 10px 40%;
  }
  .block {
    width: 100px;
    height: 100px;
    margin: 0 10px;
  }
